.footer {
    background-color: #4f0222;
    color: #f1f1f1;
    padding: 30px 20px;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
}

.contact-info,
.social-media {
    max-width: 400px;
}

.social-icons a {
    color: #f1f1f1;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ff5e57; /* You can customize hover color */
}

.social-icons a {
    font-size: 28px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.2);
}


/* Responsive */
@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
}
